h4 {
  text-transform: uppercase;
}

body {
  background: url(../images/stucco.png) top left repeat;
}

/* .btn {
  color: white;
  background-color: navy;
}

.btn:hover {
  background-color: blue;
}
*/

.jumbotron {
  margin-top: 2rem;
}